.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -24px;
}

.Grid > * {
  padding-left: 24px;
}

.Grid.Grid--middle {
  justify-content: center;
}

.Grid.Grid--center {
  align-items: center;
}

.Grid.Grid--stretch {
  align-items: stretch;
}
